{% extends '::base.html.twig' %}

{% block body %}
    <main>
        <table>
            {# @var download \AppBundle\Entity\Download #}
            {% for download in downloads %}
                <tr class="{{ cycle(['odd', 'even'], loop.index) }}{% if download.downloaded %} downloaded{% endif %}">
                    <td><span class="fa {{ download.mimetype|faFileIcon }}">&nbsp;</span></td>
                    <td>
                        <p>{{ download.filename }}</p>
                        <small>From {{ download.referer }}</small>
                    </td>
                    <td>
                        <a href="{{ path('app_download', {id: download.id}) }}" class="fa fa-play"></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </main>
    <nav>
        {% if firstPage %}
            <span class="fa fa-chevron-left disabled"></span>
        {% else %}
            <a href="{{ path('app_list_downloads', {page: page-1}) }}" class="fa fa-chevron-left"></a>
        {% endif %}
        {{ page }}
        {% if lastPage %}
            <span class="fa fa-chevron-right disabled"></span>
        {% else %}
            <a href="{{ path('app_list_downloads', {page: page+1}) }}" class="fa fa-chevron-right"></a>
        {% endif %}
    </nav>
{% endblock %}
