{% extends '::base.html.twig' %}

{% block header %}
    <header>
        <div class="stats">
            <span>Downloads: {{ stats['Not Downloaded'] }} / {{ stats['Total'] }}</span>
            <span>Enqueued: {{ stats['Enqueued'] }}</span>
        </div>
    </header>
{% endblock %}

{% block body %}
    <main>
        <table>
            {# @var download \AppBundle\Entity\Download #}
            {% for download in downloads %}
                <tr class="{{ cycle(['odd', 'even'], loop.index) }}{% if download.downloaded %} downloaded{% endif %}{% if download.failed %} failed{% endif %}">
                    <td class="icon"><span class="fa {{ download.mimetype|faFileIcon }}"></span></td>
                    <td>
                        <p>{{ download.filename }}</p>
                        <small>From <a href="{{ download.referer }}">{{ download.referer }}</a></small>
                    </td>
                    <td class="action">
                        <a href="{{ path('app_download', {id: download.id}) }}" class="fa fa-play"></a>
                        <a href="{{ path('app_delete', {id: download.id}) }}" class="fa fa-remove" onclick="return window.confirm('Remove {{ download.filename }}?')"></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </main>
    <footer>
        {% if firstPage %}
            <span class="fa fa-chevron-left disabled"></span>
        {% else %}
            {% if showDownloaded %}
                <a href="{{ path('app_list_all_downloads', {page: page-1}) }}" class="fa fa-chevron-left"></a>
            {% else %}
                <a href="{{ path('app_list_downloads', {page: page-1}) }}" class="fa fa-chevron-left"></a>
            {% endif %}
        {% endif %}
        {{ page }} of {{ pageCount }}
        {% if lastPage %}
            <span class="fa fa-chevron-right disabled"></span>
        {% else %}
            {% if showDownloaded %}
                <a href="{{ path('app_list_all_downloads', {page: page+1}) }}" class="fa fa-chevron-right"></a>
            {% else %}
                <a href="{{ path('app_list_downloads', {page: page+1}) }}" class="fa fa-chevron-right"></a>
            {% endif %}
        {% endif %}
    </footer>
{% endblock %}
